@media only screen and (min-width: 992px){
    .bread-crumb{
        background-color: rgba(115, 53, 114, 0.15);
        border-radius: 4px;
        /* margin-right: 25px; */
        margin-left: 299px;
        margin-right: 1%;
        width: -webkit-fill-available;
	    /* width: 77% */
        margin-top: 5px;
        position: fixed;
        height: 34px;
        top: 71px;
        position: absolute;
    
    }
    
    .bread-crumb a{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.4);
        
        margin-top: 10px;
        margin-left: 20px;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .bread-crumb{
        background-color: rgba(115, 53, 114, 0.15);
        border-radius: 4px;
        /* margin-right: 25px; */
        margin-left: 299px;
        margin-right: 1%;
        width: -webkit-fill-available;
	    /* width: 77% */
        margin-top: 5px;
        position: fixed;
        height: 34px;
        top: 71px;
        position: absolute;
    
    }
    
    .bread-crumb a{
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        color: rgba(0, 0, 0, 0.4);
        
        margin-top: 10px;
        margin-left: 20px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
.bread-crumb{
    background-color: rgba(115, 53, 114, 0.15);
    border-radius: 4px;
    /* margin-right: 25px; */
    margin-left: 380px;
    margin-right: 1%;
    width: -webkit-fill-available;
    /* width: 77% */
    margin-top: 9px;
    position: fixed;
    height: 55px;
    top: 97px;
    position: absolute;

}

.bread-crumb a{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16.5px;
    color: rgba(0, 0, 0, 0.4);
    
    margin-top: 16px;
    margin-left: 20px;
}
}
