/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav{
        background-color: #733572;
        height: 71px;
        width: 100%;
    }

    .img1{
        width: 85px;
        height: 26px;
        margin-left: 79px;
        margin-top: 23px;
        position: fixed;
    }
   
    #nav-item{
        float: right;
        margin-right: 87px;
        height: 71px;

        color: #FFFFFF;
        
    }
    
    #name{
        position: relative;
        margin-top: 18px;
        margin-bottom: 0px; 
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 14px;
        line-height: initial;
        
    }

    #candidate{
        margin-top: 0px;
        margin-right: 0px;
        float: right;
        font-family: 'Open Sans';
        font-size: 15px;
        line-height: initial;
    }

    #button{
        margin-right: 43px;
        margin-top: 19px;
        border-radius: 4px;
        margin-bottom: 22px;
        background: #F67280;
        padding: 0px;
        height: 30px;
        width: 113px;

        font-family: 'Open Sans';
        font-size: 14px;
        color: #FDFDFF;
        line-height: 0px;
    }

    .background{
        background-color: black;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .nav{
        background-color: #733572;
        height: 71px;
        width: 100%;
    }

    .img1{
        width: 85px;
        height: 26px;
        margin-left: 79px;
        margin-top: 23px;
        position: fixed;
    }
   
    #nav-item{
        float: right;
        margin-right: 87px;
        height: 71px;

        color: #FFFFFF;
        
    }
    
    #name{
        position: relative;
        margin-top: 18px;
        margin-bottom: 0px; 
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 14px;
        line-height: initial;
        
    }

    #candidate{
        margin-top: 0px;
        margin-right: 0px;
        float: right;
        font-family: 'Open Sans';
        font-size: 15px;
        line-height: initial;
    }

    #button{
        margin-right: 43px;
        margin-top: 19px;
        border-radius: 4px;
        margin-bottom: 22px;
        background: #F67280;
        padding: 0px;
        height: 30px;
        width: 113px;

        font-family: 'Open Sans';
        font-size: 14px;
        color: #FDFDFF;
        line-height: 0px;
    }

    .background{
        background-color: black;
    }
        
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
.nav{
    background-color: #733572;
    height: 97px;
    width: 100%;
}

.img1{
    width: 120px;
    height: 40px;
    margin-left: 90px;
    margin-top: 28px;
    position: fixed;
}

#nav-item{
    float: right;
    margin-right: 87px;
    height: 71px;

    color: #FFFFFF;
    
}

#name{
    position: relative;
    margin-top: 23px;
    margin-bottom: 5px; 
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    line-height: initial;
    
}

#candidate{
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    font-family: 'Open Sans';
    font-size: 15px;
    line-height: initial;
}

#button{
    margin-right: 43px;
    margin-top: 29px;
    border-radius: 4px;
    margin-bottom: 22px;
    background: #F67280;
    padding: 0px;
    height: 40px;
    width: 170px;
    margin-left: 45px;

    font-family: 'Open Sans';
    font-size: 17.5px;
    color: #FDFDFF;
    line-height: 0px;
}

.background{
    background-color: black;
}
}
