/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
        
    /* .wrapper{
        display: flex;
        justify-content: space-between;
        border: 10px;
        margin-left: 0px;
    } */

    .sidebar a:hover{
        color:#9FA2B4;
        /* padding: 25px;
        padding-right: 140px */
    }

    .sidebar{
        background: #363740;
        position: absolute;
        /* height: 100%; */
        height: -webkit-fill-available;
        width: 277px;
        line-height: initial;
        top: 71px;

    }

    .wrapper-dash{
        margin-top: 0px;
        padding-top: 1px;
        padding-bottom: 10px;
        height: 52px;
        background: rgba(86, 86, 86, 0.3);
        opacity: 0.7;
    }

    .dash{
        margin-top: 13px;
        margin-left: 70px;

        font-family: 'Montserrat';
        font-size: 18px;
        letter-spacing: 0.4px;
        font-weight: 500;
        line-height: normal;
        color: #A4A6B3;

    } 

    .material-icons{
        width: 24px;
    }

    a{
        font-family: 'Montserrat';
        color: #A4A6B3;
        font-size: 16px;
        
        display: block;
        margin-left: 70px;
        margin-top: 36px;
    }
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    
    /* .wrapper{
        display: flex;
        justify-content: space-between;
        border: 10px;
        margin-left: 0px;
    } */

    .sidebar a:hover{
        color:#9FA2B4;
        /* padding: 25px;
        padding-right: 140px */
    }

    .sidebar{
        background: #363740;
        position: absolute;
        /* height: 100%; */
        height: -webkit-fill-available;
        width: 277px;
        line-height: initial;
        top: 71px;

    }

    .wrapper-dash{
        margin-top: 0px;
        padding-top: 1px;
        padding-bottom: 10px;
        height: 52px;
        background: rgba(86, 86, 86, 0.3);
        opacity: 0.7;
    }

    .dash{
        margin-top: 13px;
        margin-left: 70px;

        font-family: 'Montserrat';
        font-size: 18px;
        letter-spacing: 0.4px;
        font-weight: 500;
        line-height: normal;
        color: #A4A6B3;

    } 

    .material-icons{
        width: 24px;
    }

    a{
        font-family: 'Montserrat';
        color: #A4A6B3;
        font-size: 16px;
        
        display: block;
        margin-left: 70px;
        margin-top: 36px;
    }
}
    
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
/* .wrapper{
        display: flex;
        justify-content: space-between;
        border: 10px;
        margin-left: 0px;
    } */

    .sidebar a:hover{
        color:#9FA2B4;
        /* padding: 25px;
        padding-right: 140px */
    }

    .sidebar{
        background: #363740;
        position: absolute;
        /* height: 100%; */
        height: -webkit-fill-available;
        width: 350px;
        line-height: initial;
        top: 97px;

    }

    .wrapper-dash{
        margin-top: 0px;
        padding-top: 1px;
        padding-bottom: 10px;
        height: 82px;
        background: rgba(86, 86, 86, 0.3);
        opacity: 0.7;
    }

    .dash{
        margin-top: 27px;
        margin-left: 90px;

        font-family: 'Montserrat';
        font-size: 21px;
        letter-spacing: 0.4px;
        font-weight: 600;
        line-height: normal;
        color: #A4A6B3;

    } 

    .material-icons{
        width: 24px;
    }

    a{
        font-family: 'Montserrat';
        color: #A4A6B3;
        font-size: 18px;
        
        display: block;
        margin-left: 70px;
        margin-top: 46px;
    }
}