@media only screen and (min-width: 992px){

    img{
        display: block
    }
    #content{
        border: 1px solid #000000;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 7px;
        margin-left: 299px;
        margin-top: 57px;
        /* max-height: -webkit-fill-available; */
        height: -webkit-fill-available;
        margin-bottom: 1%;
        position: absolute;
        width: -webkit-fill-available;
        margin-right: 1%;
    }

    .isi-konten{
        filter: blur(0px);
        position: absolute;
        margin-top: 10%;
        margin-left: 40%;
    }
    .info{
        color: black;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 18px;
        margin-top: 5px;
        margin-inline-start: -50px;
    }
    #button-boot{
        width: 198px;
        height: 53px;
        margin-inline-start: -30px;
        font-size: 14px;
        font-weight: 500;
        color: black;
        background: #FFB32C;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border:none;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

    img{
        display: block
    }
    #content{
        border: 1px solid #000000;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 7px;
        margin-left: 299px;
        margin-top: 57px;
        /* max-height: -webkit-fill-available; */
        height: -webkit-fill-available;
        margin-bottom: 1%;
        position: absolute;
        width: -webkit-fill-available;
        margin-right: 1%;
    }

    .isi-konten{
        filter: blur(0px)
        
    }
    .info{
        color: black;
        font-family: 'Open Sans';
        font-weight: 500;
        font-size: 18px;
        margin-top: 5px;
        margin-inline-start: -50px;
    }
    #button-boot{
        border-radius: 4px;
        width: 198px;
        height: 53px;
        margin-inline-start: -30px;
        font-size: 14px;
        font-weight: 500;
        color: black;
        background: #FFB32C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    img{
        width: 200px;
        margin-top: 150px;
        margin-left: 900px;
        display: block;
    }
    #content{
        border: 1px solid #000000 ;
        backdrop-filter: blur(4px);
        border-radius: 7px;
        margin-left: 419px;
        margin-top: 130px;
        margin-right: 29px;
        padding-bottom: 355px;
        padding-left: 1rem;
        /* margin-bottom: 100px; */
    
        
        /* position: absolute */
    }
    .img{
        filter: blur(0px)
    }
    .info{
        color: black;
        margin-left: 820px;
        font-family: 'Open Sans';
        font-weight: 500;
    }
    #button-boot{
        border-radius: 4px;
        /* padding-top: 10px;
        padding-bottom: 10px; */
        margin-left: 900px;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: bold;
        color: black;
        background: #FFB32C;
        position: absolute;
    }

    .container{
        border: 5px;
    }
}

@media only screen  and (min-width : 1224px) {

    img{
        display: block
    }
    #content{
        border: 1px solid #000000;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 7px;
        margin-left: 299px;
        margin-top: 57px;
        /* max-height: -webkit-fill-available; */
        height: -webkit-fill-available;
        margin-bottom: 1%;
        position: absolute;
        width: -webkit-fill-available;
        margin-right: 1%;
    }

    .isi-konten{
        filter: blur(0px)
        
    }
    .info{
        color: black;
        font-family: 'Open Sans';
        font-weight: 500;
        font-size: 18px;
        margin-top: 5px;
        margin-inline-start: -50px;
    }
    #button-boot{
        border-radius: 4px;
        width: 198px;
        height: 53px;
        margin-inline-start: -30px;
        font-size: 14px;
        font-weight: 500;
        color: black;
        background: #FFB32C;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    img{
        width: 200px;
        margin-top: 70px;
        margin-left: 100px;
        display: block;
    }
    #content{
        border: 1px solid #000000 ;
        backdrop-filter: blur(4px);
        border-radius: 7px;
        margin-left: 380px;
        margin-top: 112px;
        margin-right: 29px;
        padding-bottom: 330px;
        padding-left: 1rem;
        margin-bottom: 0%;
        /* margin-bottom: 100px; */
    
        
        /* position: absolute */
    }
    .img{
        filter: blur(0px)
    }
    .info{
        color: black;
        margin-left: 70px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 20px;
    }
    #button-boot{
        border-radius: 4px;
        /* padding-top: 10px;
        padding-bottom: 10px; */
        margin-left: 110px;
        font-family: 'Open Sans';
        font-size: 15px;
        font-weight: bold;
        color: black;
        background: #FFB32C;
        position: absolute;
    }

    .container{
        border: 5px;
    }
}


